#name h1 {
    letter-spacing: 0.75rem;
}

#blurb h1 {
    letter-spacing: 0.25rem;
}

.tech-logos-wrapper div.uk-flex-wrap div {    
    margin-bottom: 1.0rem;
    margin-right: 1.0rem;
    display: flex;
}

.tech-logos-wrapper img {
    max-width: 100px;
    max-height: 50px;
    object-fit: contain;
}

.tech-logos-wrapper img.nginx {
    min-height: 50px;
}

#api-data-display-wrapper pre, #try-will-they-win-spinner {
    margin-top: 1rem;
}

@media (max-width: 400px) {
    #name h1 {
        letter-spacing: 0.5rem;
        font-size: 3rem;
    }
    #blurb h1 {
        letter-spacing: 0.1rem;
        font-size: 1.25rem;
    }
}
